.block{
  width: 100%;
}

html{
	margin: 0;
	padding: 0;
	border: 0;
	background-image: -webkit-linear-gradient(right, rgb(29, 11, 61),  rgba(82, 40, 154, .5));
    font-family: Verdana,sans-serif;
	}
header{
	text-align: center;
	font-size: 1.5em;
}
h1, h2, h3, h4, h5, h6{
	text-align: center;
}
p{
	font-size: 1.1em;

}
ol{
	font-size: 1.2em;
	line-height: 1.5;
	padding-left: 75px;
}
footer{
	clear: both;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	text-align: center;
	font-size: 0.7em;
}
.first_section article{
	width: 60%;
	margin: 15px;
	margin-right: 25px;
	padding: 5px;
}
.first_section aside{
	width: 35%;
	float: right;
	padding: 5px;
	margin-bottom: 13%;
	font-size: 1.1em;
}
figure table{
	margin-top: 25px;
}
.modal-body {
  position: relative;
  padding: 15px;
}

#holst {
    width: 310px;
    height: 310px;
    margin: auto;
}
#canvas{
    padding-bottom: 40px;
    padding-top: 40px;
    height: 100%;
    text-align: ledt;
}
canvas {
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.forButtons {
    list-style-type: none;
}
.drawing {
    display: block;
    text-align: left;
}
@media screen and (max-width:570px){
    .flexContainer{
        flex-direction: column;
    }
    .flexContainer div{
        width: 90%;
    }
    .flexContainer div div{
        width: 90%;
    }
}
.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexContainer div{
    width: 50%;

}
.container {
    display: block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    margin-top: -3px;
}
.container a{
    padding-left: 35px;
    margin:0 0 0 0;
}
.flexContainer div div {
    margin-top: 4px;
    margin-bottom: 4px;
}
#places{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#media> div{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
#media h1{
    text-align: center;
}
.dragContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.drag{
    width:100px;
    height: 100px;
}
#first,#second{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
#places {
    flex-direction: row;
}
